.theme {
	position:relative;
	top:0px;
	left:0px;
	width:600px;
	height:400px;
}
.theme-button.active{
	fill:white !important;
}

.theme-button-label.active{
	fill:white !important;
}
.theme-button-label.active *{
	fill:black !important;
}

.theme-button-label-stroke.active{
	stroke:black !important;
}
.theme-button-label-stroke.active *{
	stroke:black !important;
}

.theme-analog-wrapper {
	position:absolute;
	top:174px;
	left:70px;
	height:100px;
	width:100px;
	border-radius:100%;
}
.theme-analog {
	position:absolute;
	top:50%;
	left:50%;
	width:20px;
	height:20px;
	margin-left:-10px;
	margin-top:-7px;
	background:#333;
	border-radius:100%;
	background: radial-gradient(ellipse at center, #333 0%,#000000 100%);
}
.theme-analog.active {
	background:white;
	background: radial-gradient(ellipse at center, #FFF 0%,#AAA 100%);
}
.theme-analog-dual-left {
	position:absolute;
	top:50%;
	left:50%;
	width:20px;
	height:20px;
	margin-left:-10px;
	margin-top:-27px;
	background:#333;
	border-radius:100%;
	background: radial-gradient(ellipse at center, #333 0%,#000000 100%);
}
.theme-analog-dual-right {
	position:absolute;
	top:50%;
	left:50%;
	width:20px;
	height:20px;
	margin-left:-10px;
	margin-top:7px;
	background:#333;
	border-radius:100%;
	background: radial-gradient(ellipse at center, #333 0%,#000000 100%);
}
.theme-analog-dual-left.active {
	background:white;
	background: radial-gradient(ellipse at center, #FFF 0%,#AAA 100%);
}
.theme-analog-dual-right.active {
	background:white;
	background: radial-gradient(ellipse at center, #FFF 0%,#AAA 100%);
}